.container {
    background-color: var(--primary-color);
    width: 100%;
    height: 100vh;
}

.main-navbar {
    display: flex;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
}

.shopping-car {
    background-color: var(--primary-hover-color);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-right: 90px;
    margin-top: 54px;
    cursor: pointer;
}
.shopping-car:hover {
    transform: scale(1.05);
}

.shopping-car-itens-amount {
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: var(--color-itens);
    margin-top: -20px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shopping-car-itens-amount-null {
    width: 15px;
    height: 15px;
    border-radius: 10px;
    margin-top: -20px;
    margin-left: 20px;
}

.shopping-car-amount {
    color: var(--light-color);
    font-size: 10px;
}

.car {
    width: 18.42px;
    height: 18px;
    margin-left: 7px;
    margin-top: -20px;
}

.logo {
    margin-top: 54px;
    margin-left: 90px;
    width: 250px;
}

.containerHome {
    width: 100%;
    display: flex;
}

.infoHome {
    width: 38%;
    margin-left: 90px;
}

.h1Home {
    margin-top: 23%;
    font-weight: bold;
    font-size: 40px;
    color: var(--light-color);
}

.pHome {
    margin-top: -3%;
    width: 80%;
    font-size: 20px;
    color: var(--light-color);

}

.containerLocal {
    display: flex;
    align-items: center;
}

.pLocal {
    font-size: 18px;
    margin-left: 2%;
    color: var(--light-color);
}

.containerStatus {
    width: 140px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: var(--primary-hover-color);
    border-width: 3px;
    border-radius: 10px;
    border-style: solid;
    margin-top: 30px;
    cursor: pointer;
}

.containerStatus:hover {
    transform: scale(1.05);
}

.pStatus {
    color: var(--primary-hover-color);
    font-size: 18px;
}

.imgHome {
    width: 50%;
    margin-left: 2%;
}

.containerProdutos {
    background-color: var(--primary-color);
}

.produtos {
    width: 100%;
    height: 50px;
    background-color: var(--primary-hover-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.produtosName {
    font-size: 24px;
    color: var(--primary-color);
}

.containerItens {
    display: flex;
    padding-bottom: 70px;
}

.categorias {
    width: 197px;
    height: 30%;
    background-color: var(--color-itens-opacity);
    border-radius: 20px;
    margin-left: 90px;
    margin-top: 90px;
    padding-bottom: 20px;
    box-shadow: 5px 5px 30px 3px rgba(0, 0, 0,0.2);
}

.containerCategoriaName {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.categoriaName {
    color: var(--primary-hover-color);
    font-size: 24px;
    font-weight: bold;
}

.containerItensCategoria {
    display: grid;
    justify-content: center;
    cursor: pointer;
    text-align: center;
}

.category-name {
    color: rgba(196, 196, 196, 0.5);
    font-size: 20px;
}

.category-name-active {
    color: var(--light-color);
    font-size: 20px;
}

.category-name:hover {
    transform: scale(1.05);
}

.container-category-item-name {
    width: 400px;
    height: 50px;
    border-radius: 20px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-itens-opacity);
    box-shadow: 5px 5px 30px 3px rgba(0, 0, 0,0.2);
}

.category-item-name-selected {
    color: var(--light-color);
    font-size: 24px;
    font-weight: bold;
}

.category-item-name {
    color: var(--primary-hover-color);
    font-size: 24px;
    font-weight: bold;
    margin-left: 7px;
}

.itens {
    width: 70%;
    margin-left: 30px;
    margin-top: 30px;
}

.itens-grid {
    width: 100%;
    margin-top: 0px;
}

.container-products {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 0px;
    margin-left: 40px;
}

.containerItem {
    width: 200px;
    height: 270px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: 50px;
    border-radius: 25px;
    background-color: var(--color-itens-opacity);
    box-shadow: 5px 5px 30px 3px rgba(0, 0, 0,0.2);
    display: block;
    cursor: pointer;
}

.product {
    width: 200px;
    height: 270px;
    border-radius: 25px;
    background-color: var(--color-itens-opacity);
    display: block;
    cursor: pointer;
}

.product.selected {
    width: 200px;
    height: 270px;
    border-radius: 25px;
    background-color: var(--primary-hover-color);
    display: block;
    cursor: pointer;
}

.containerItem-disable {
    width: 200px;
    height: 270px;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-right: 50px;
    border-radius: 25px;
    background-color: var(--color-itens-opacity);
    display: none;
}

.containerItem:hover {
    transform: scale(1.05);
}

.itemProduct {
    width: 202px;
    height: 132px;
    margin-left: -1px;
    margin-top: -1px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.nameProduct {
    color: var(--light-color);
    font-size: 20px;
    margin-left: 18px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.nameProduct.selected {
    color: var(--color-itens);
    font-size: 20px;
    margin-left: 18px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.container-price-discount {
    margin-top: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 18px;
    width: 90%;
    height: 30px;
    margin-bottom: 0px;
}

.priceProduct {
    color: var(--light-color);
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.container-percentage-discount {
    background-color: var(--primary-hover-color);
    width: 60px;
    height: 33px;
    border-radius: 5px;
}

.discountProduct {
    color: var(--primary-color);
    font-size: 14px;
    margin: 0px;
    font-weight: bold;
    text-align: center;
}

.discountProductText {
    color: var(--primary-color);
    font-size: 14px;
    margin: 0px;
    font-weight: bold;
    text-align: center;
}

.container-percentage-discount.selected {
    background-color: var(--primary-color);
    width: 60px;
    height: 33px;
    border-radius: 5px;
}


.discountProduct.selected {
    color: var(--primary-hover-color);
    font-size: 14px;
    margin: 0px;
    font-weight: bold;
    text-align: center;
}

.discountProductText.selected {
    color: var(--primary-hover-color);
    font-size: 14px;
    margin: 0px;
    font-weight: bold;
    text-align: center;
}

.priceProduct.selected {
    color: var(--color-itens);
    font-size: 18px;
    margin-left: 0px;
    margin-top: 0px;
}

.descriptionProduct {
    color: rgba(196, 196, 196, 0.5);
    max-height: 35px;
    letter-spacing: 0.7px;
    font-size: 14px;
    margin-left: 18px;
    margin-top: 5px;
    max-width: 170px;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
}

.descriptionProduct.selected {
    color: var(--color-itens);
    font-size: 14px;
    margin-left: 18px;
    margin-top: 5px;
}

.containerFooter {
    height: 50px;
    background-color: var(--primary-hover-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    color: var(--color-itens);
    font-size: 24;
}

.container-category-item-active {
    width: 100%;
    margin-top: 60px;
}

.container-category-item {
    display: none;
}

@media (max-width: 599px) {

    .logo {
        margin-top: 54px;
        margin-left: 30px;
        width: 200px;
    }

    .shopping-car {
        background-color: var(--primary-hover-color);
        width: 35px;
        height: 35px;
        border-radius: 10px;
        display: grid;
        align-items: center;
        justify-content: center;
        margin-right: 30px;
        margin-top: 54px;
        cursor: pointer;
    }

    .containerHome {
        width: 100%;
        display: flex;
    }

    .infoHome {
        width: 100%;
        margin-left: 20px;
        margin-right: 20px;
        display: grid;
        text-align: center;
        justify-items: center;
    }

    .h1Home {
        margin-top: 10%;
        font-weight: bold;
        font-size: 24px;
        color: var(--light-color);
    }
    
    .pHome {
        margin-top: -2%;
        width: 70%;
        font-size: 14px;
        margin-left: 0px;
        color: var(--light-color);
    }

    .containerLocal {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .pLocal {
        font-size: 12px;
        margin-left: 1%;
        color: var(--light-color);
    }

    .containerStatus {
        width: 140px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-color: var(--primary-hover-color);
        border-width: 3px;
        border-radius: 10px;
        border-style: solid;
        margin-top: 30px;
        margin-bottom: 50px;
        cursor: pointer;
    }

    .imgHome {
        display: none;
    }

    .produtos {
        width: 100%;
        height: 40px;
        background-color: var(--primary-hover-color);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .produtosName {
        font-size: 20px;
        color: var(--primary-color);
    }

    .containerItens {
        display: block;
        padding-bottom: 70px;
    }
    
    .containerItensCategoria {
        margin-top: -10px;
        display: flex;
        align-items: center;
        cursor: pointer;
        overflow-x: auto;
        padding-left: 50px;
    }

    .containerItensCategoria::-webkit-scrollbar {
        height: 0px;
    }

    .containerCategoriaName {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
    }

    .categorias {
        width: 250px;
        height: 60px;
        background-color: var(--color-itens-opacity);
        border-radius: 20px;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        box-shadow: 5px 5px 30px 3px rgba(0, 0, 0,0.2);
    }

    .categoriaName {
        color: var(--primary-hover-color);
        font-size: 14px;
        font-weight: bold;
    }

    .category-name {
        color: rgba(196, 196, 196, 0.5);
        font-size: 12px;
        margin-right: 10px;
    }

    .category-name-active {
        color: var(--light-color);
        font-size: 12px;
        margin-right: 10px;
    }

    .itens {
        width: 100%;
        margin-left: 0px;
        margin-top: -30px;
    }
    
    .container-category-item-name {
        width: 250px;
        height: 50px;
        border-radius: 20px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-itens-opacity);
        box-shadow: 5px 5px 30px 3px rgba(0, 0, 0,0.2);
    }

    .category-item-name-selected {
        color: var(--light-color);
        font-size: 14px;
        font-weight: bold;
    }
    
    .category-item-name {
        color: var(--primary-hover-color);
        font-size: 14px;
        font-weight: bold;
        margin-left: 7px;
    }

    .container-products {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        margin-top: 0px;
        margin-left: 10%;
        margin-right: 10%;
    }

    .containerItem {
        width: 120px;
        height: 180px;
        margin-top: 30px;
        margin-bottom: 20px;
        margin-right: auto;
        margin-left: auto;
        border-radius: 25px;
        background-color: var(--color-itens-opacity);
        box-shadow: 5px 5px 30px 3px rgba(0, 0, 0,0.2);
        display: grid;
        cursor: pointer;
    }
    
    .product {
        width: 120px;
        height: 180px;
        border-radius: 25px;
        background-color: var(--color-itens-opacity);
        display: grid;
        cursor: pointer;
    }
    
    .product.selected {
        width: 120px;
        height: 180px;
        border-radius: 25px;
        background-color: var(--primary-hover-color);
        display: grid;
        cursor: pointer;
    }
    
    .itemProduct {
        width: 122px;
        height: 92px;
        margin-left: -1px;
        margin-top: -1px;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }
    
    .containerItem:hover {
        transform: scale(1.05);
    }
    
    .nameProduct {
        color: var(--light-color);
        font-size: 14px;
        margin-left: 10px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .nameProduct.selected {
        color: var(--color-itens);
        font-size: 14px;
        margin-left: 10px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .container-price-discount {
        margin-top: 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 10px;
        width: 88%;
        height: 20px;
        margin-bottom: 0px;
    }
    
    .priceProduct {
        color: var(--light-color);
        font-size: 14px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .priceProduct.selected {
        color: var(--color-itens);
        font-size: 14px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .container-percentage-discount {
        background-color: var(--primary-hover-color);
        width: 40px;
        height: 22px;
        border-radius: 5px;
    }
    
    .discountProduct {
        color: var(--primary-color);
        font-size: 10px;
        margin: 0px;
        font-weight: bold;
        text-align: center;
    }
    
    .discountProductText {
        color: var(--primary-color);
        font-size: 10px;
        margin: 0px;
        font-weight: bold;
        text-align: center;
    }
    
    .container-percentage-discount.selected {
        background-color: var(--primary-color);
        width: 40px;
        height: 22px;
        border-radius: 5px;
    }
    
    .discountProduct.selected {
        color: var(--primary-hover-color);
        font-size: 10px;
        margin: 0px;
        font-weight: bold;
        text-align: center;
    }
    
    .discountProductText.selected {
        color: var(--primary-hover-color);
        font-size: 10px;
        margin: 0px;
        font-weight: bold;
        text-align: center;
    }
    
    .descriptionProduct {
        color: rgba(196, 196, 196, 0.5);
        min-height: 30px;
        max-height: 30px;
        letter-spacing: 0.7px;
        font-size: 12px;
        margin-left: 10px;
        margin-top: 0px;
        max-width: 100px;
        text-overflow: ellipsis;
        white-space: normal;
        overflow: hidden;
    }
    
    .descriptionProduct.selected {
        color: var(--color-itens);
        font-size: 12px;
        margin-left: 10px;
        margin-top: 0px;
    }
    
    .containerFooter {
        height: 40px;
        background-color: var(--primary-hover-color);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .footer {
        color: var(--color-itens);
        font-size: 20px;
    }
 }

@media (min-width: 600px) and (max-width: 899px) {

    .logo {
        margin-top: 54px;
        margin-left: 50px;
        width: 250px;
    }

    .shopping-car {
        background-color: var(--primary-hover-color);
        width: 40px;
        height: 40px;
        border-radius: 10px;
        display: grid;
        align-items: center;
        justify-content: center;
        margin-right: 50px;
        margin-top: 54px;
        cursor: pointer;
    }

    .infoHome {
        width: 80%;
        margin-left: 50px;
    }

    .h1Home {
        margin-top: 10%;
        font-weight: bold;
        font-size: 30px;
        color: var(--light-color);
    }

    .pHome {
        margin-top: -2%;
        width: 80%;
        font-size: 16px;
        color: var(--light-color);
    }

    .pLocal {
        font-size: 14px;
        margin-left: 2%;
        color: var(--light-color);
    }
    
    .containerStatus {
        width: 140px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-color: var(--primary-hover-color);
        border-width: 3px;
        border-radius: 10px;
        border-style: solid;
        margin-top: 30px;
        margin-bottom: 50px;
        cursor: pointer;
    }
    
    .imgHome {
        display: none;
    }

    .produtos {
        width: 100%;
        height: 40px;
        background-color: var(--primary-hover-color);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .produtosName {
        font-size: 20px;
        color: var(--primary-color);
    }

    .containerCategoriaName {
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }

    .categorias {
        width: 160px;
        height: 30%;
        background-color: var(--color-itens-opacity);
        border-radius: 20px;
        margin-left: 50px;
        margin-top:50px;
        padding-bottom: 20px;
        box-shadow: 5px 5px 30px 3px rgba(0, 0, 0,0.2);
    }

    .categoriaName {
        color: var(--primary-hover-color);
        font-size: 16px;
        font-weight: bold;
    }

    .category-name {
        color: rgba(196, 196, 196, 0.5);
        font-size: 14px;
    }
    
    .category-name-active {
        color: var(--light-color);
        font-size: 14px;
    }

    .itens {
        width: 70%;
        margin-left: 30px;
        margin-top: -10px;
    }
    
    .container-category-item-name {
        width: 250px;
        height: 50px;
        border-radius: 20px;
        margin-left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-itens-opacity);
        box-shadow: 5px 5px 30px 3px rgba(0, 0, 0,0.2);
    }

    .category-item-name-selected {
        color: var(--light-color);
        font-size: 14px;
        font-weight: bold;
    }
    
    .category-item-name {
        color: var(--primary-hover-color);
        font-size: 14px;
        font-weight: bold;
        margin-left: 7px;
    }

    .container-products {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        margin-top: 0px;
        margin-left: 10px;
    }

    .containerItem {
        width: 150px;
        height: 230px;
        margin-top: 30px;
        margin-bottom: 20px;
        margin-right: 30px;
        border-radius: 25px;
        background-color: var(--color-itens-opacity);
        box-shadow: 5px 5px 30px 3px rgba(0, 0, 0,0.2);
        display: grid;
        cursor: pointer;
    }
    
    .product {
        width: 150px;
        height: 230px;
        border-radius: 25px;
        background-color: var(--color-itens-opacity);
        display: grid;
        cursor: pointer;
    }
    
    .product.selected {
        width: 150px;
        height: 230px;
        border-radius: 25px;
        background-color: var(--primary-hover-color);
        display: grid;
        cursor: pointer;
    }
    
    .containerItem-disable {
        width: 150px;
        height: 230px;
        margin-top: 30px;
        margin-bottom: 40px;
        margin-right: 30px;
        border-radius: 25px;
        background-color: var(--color-itens-opacity);
        display: none;
        opacity: 70%;
    }
    
    .containerItem:hover {
        transform: scale(1.05);
    }
    
    .itemProduct {
        width: 152px;
        height: 112px;
        margin-left: -1px;
        margin-top: -1px;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }
    
    .nameProduct {
        color: var(--light-color);
        font-size: 16px;
        margin-left: 18px;
        margin-top: 10px;
        margin-bottom: 0px;
    }
    
    .nameProduct.selected {
        color: var(--color-itens);
        font-size: 16px;
        margin-left: 18px;
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .container-price-discount {
        margin-top: 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 18px;
        width: 86%;
        height: 20px;
        margin-bottom: 0px;
    }
    
    .priceProduct {
        color: var(--light-color);
        font-size: 16px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .container-percentage-discount {
        background-color: var(--primary-hover-color);
        width: 50px;
        height: 28px;
        border-radius: 5px;
    }
    
    .discountProduct {
        color: var(--primary-color);
        font-size: 12px;
        margin: 0px;
        font-weight: bold;
        text-align: center;
    }
    
    .discountProductText {
        color: var(--primary-color);
        font-size: 12px;
        margin: 0px;
        font-weight: bold;
        text-align: center;
    }
    
    .container-percentage-discount.selected {
        background-color: var(--primary-color);
        width: 50px;
        height: 28px;
        border-radius: 5px;
    }
    
    .discountProduct.selected {
        color: var(--primary-hover-color);
        font-size: 12px;
        margin: 0px;
        font-weight: bold;
        text-align: center;
    }
    
    .discountProductText.selected {
        color: var(--primary-hover-color);
        font-size: 12px;
        margin: 0px;
        font-weight: bold;
        text-align: center;
    }
    
    
    .priceProduct.selected {
        color: var(--color-itens);
        font-size: 16px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .descriptionProduct {
        color: rgba(196, 196, 196, 0.5);
        max-height: 35px;
        letter-spacing: 0.7px;
        font-size: 14px;
        margin-left: 18px;
        margin-top: 0px;
        max-width: 120px;
        text-overflow: ellipsis;
        white-space: normal;
        overflow: hidden;
    }
    
    .descriptionProduct.selected {
        color: var(--color-itens);
        font-size: 14px;
        margin-left: 18px;
        margin-top: 0px;
    }
    
    .containerFooter {
        height: 40px;
        background-color: var(--primary-hover-color);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .footer {
        color: var(--color-itens);
        font-size: 20px;
    }

}


@media (min-width: 900px) and (max-width: 1099px) { 
    
    .h1Home {
        margin-top: 23%;
        font-weight: bold;
        font-size: 32px;
        color: var(--light-color);
    }
    
    .pHome {
        margin-top: -3%;
        width: 80%;
        font-size: 20px;
        color: var(--light-color);
    }
    
    .pLocal {
        font-size: 14px;
        margin-left: 2%;
        color: var(--light-color);
    }
    
    .pStatus {
        color: var(--primary-hover-color);
        font-size: 18px;
    }    

    .imgHome {
        width: 45%;
    }

 }

 @media (min-width: 1100px) {
    .imgHome {
        width: 50%;
        margin-left: 2%;
    }    
 }

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--primary-color);
    
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-hover-color);
    border-radius: 10px;
}
