.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(18, 19, 21,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container-shopping-car {
    background-color: var(--color-itens);
    color: var(--light-color);
    width: 480px;
    height: 650px;
    border-radius: 15px;
    display: block;
}

.container-header-shopping-car {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
}

.container-header-shopping-car:hover {
    transform: scale(1.05);
}

.order-tittle {
    font-size: 28px;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
    color: var(--light-color)
}

.container-products-shopping-car {
    max-width: 440px;
    margin-top: 20px;
    margin-left: 20px;
    max-height: 240px;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: var(--color-itens);
}


.card-products-shopping-car {
    margin-bottom: 20px;
    margin-top: 5px;
    margin-left: 13px;
    width: 120px;
    height: 220px;
    border-radius: 20px;
    padding-top: 0px;
    background-color: var(--color-itens);
    box-shadow: 10px 5px 15px 1px rgba(0, 0, 0,0.4);
}

.container-img-shopping-car {
    width: 120px;
    height: 96px;
    border-radius: 20px;
}

.img-product-shopping-car {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.container-description-product-shopping-car {
    width: 120px;
    height: 120px;
    display: grid;
    text-align: center;
    justify-content: center;
}

.name-product-shopping-car {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.price-product-shopping-car {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.description-product-shopping-car {
    max-height: 55px;
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.4);
    overflow: hidden;
    text-overflow: ellipsis;
}

.container-amount-products-shopping-car {
    width: 80px;
    margin-bottom: 20px;
    margin-top: 5px;
    height: 140px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.card-amount-products-shopping-car {
    width: 75px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-less-products {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: rgba(123, 123, 123, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.container-less-products:hover {
    transform: scale(1.05);
}

.less-product {
    background-color: var(--primary-hover-color);
    width: 8px;
    height: 2px;
}

.amount-products {
    font-size: 18;
}

.container-add-products {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: var(--primary-hover-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.container-add-products:hover {
    transform: scale(1.05);
}


.add-horizontal-icon {
    background-color: var(--color-itens);
    margin-left: -3px;
    width: 8px;
    height: 2px;
}

.add-vertical-icon {
    background-color: var(--color-itens);
    width: 2px;
    height: 8px;
    margin-left: -5px;
}

.container-remove-products {
    background-color: var(--color-itens);
    width: 75px;
    height: 25px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 3px 8px 1px rgba(0, 0, 0,0.4);
    cursor: pointer;
}

.container-remove-products:hover {
    transform: scale(1.05);
}

.remove-product {
    font-size: 14px;
    color: var(--primary-hover-color);
}